<!DOCTYPE html>
<html>
  <body>
    <div><h2>Pedido de Compras</h2></div>
    <div>
      <table>
        <thead>
          <tr>
            <th style="width: 20%;">Nome</th>
            <th style="width: 20%;">Quantidade Atual</th>
            <th style="width: 20%;">Quantidade Mínima</th>
          </tr>
        </thead>
        <tbody>
          {{ range $key, $value := .ProdutoList }}
            <tr>
              <td style="width: 20%; text-align: center">{{$value.Name}}</td>
              <td style="width: 20%; text-align: center">{{$value.CurrQuantity}}</td>
              <td style="width: 20%; text-align: center">{{$value.MinQuantity}}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
      <br>
    </div>

    {{ if .ProdutoList }}
      Aprovado: {{.Approved}}
      <div>
        <div>
          <form method="POST" action="/pedido">
            <input type="text" name="ignore" style="visibility:hidden"><br>
            <input type="submit" value="Aprovar">
          </form>
        </div>
      </div>
    {{ end }}
  </body>
</html>
